<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Will it rain on my parade?</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
	</head>
	<body>
		<main>
			<h1>Will it rain on my parade?</h1>
			<div class='column'>
				<p>Hi, welcome to the Climate Coders weather prediction website. This website will allow you to see the weather conditions for a specific date in the future, based off historical data. Please input your location, and the day you would like to know the weather conditions for.</p>
				<form id="search" action="/search" method="post">
  					<input type="text" name="q" placeholder="Search Location" class="required-field">

  					<label for="calendar">Select a date:</label>
  					<input type="date" id="calendar" name="calendar" class="required-field">
  					<button id="submit" type="submit">Submit</button>
				</form>
			</div>
			<footer> 
				<p>Made by the Climate Coders Team for the NASA Space Apps project.</p> 
			</footer>
			
			</form>
		</main>
	</body>
 </html>

 <script>
	const form = document.getElementById("search");
	const submitButton = document.getElementById("submit");
	const requiredFields = document.querySelectorAll('.required-field');

	function checkFields(){
		let allFieldsFilled = true;
		requiredFields.forEach(field => {
			if (field.value.trim()===''){
				allFieldsFilled = false;
			}
		});
		submitButton.disabled = !allFieldsFilled;

	}
	checkFields();
	form.addEventListener('input',checkFields);
 </script>
