
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Will it rain on my parade?</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
	</head>
	<body>
		<main>
			<h1>Will it rain on my parade?</h1>
			<div class='column'>
				<p>Hi, welcome to the climate coders website. This website will allow you to see the weather conditions for a specific date in the future, based off historical data.</p>
				<form action="/search" method="get">
  					<input type="text" name="q" placeholder="Search Location">
  					<button type="submit">Search</button>
				<form>
  					<label for="calendar">Select a date:</label>
  					<input type="date" id="calendar" name="calendar">
  					<button type="submit">Submit</button>
				</form>
			</div>
			<footer> 
				<p>Thank you </p> 
			</footer>
			
			</form>
		</main>
	</body>
 </html>
